@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Sono:wght@300&display=swap');

.card{
  font-family: 'Castoro Titling', cursive;
  width: 256px;
  min-height: 340px;
  background-color: #3f3d40;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.disappear{
  animation: disappear 0.7s ease-out forwards;
}
@keyframes disappear{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.card:hover{
  border: 1px solid yellow ;
}
.card h1{
  color: orange;
  font-size:  1.2rem;
  text-align: center;
}

#trashDelete:hover{
  color: red;
}
.btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icons{
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#editIcon:hover{
  color: yellow;
}
.conteudoCard{
  text-align: center;
  font-size: 1rem;
}
.conteudoCard .price{
  font-size: 1.1rem;
}